* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #373737;
}

#app {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 375px;
   height: 755px;
   margin: 1% auto;
   background: #0f0f0f;
   color: white;
   font-size: 42px;
}


@font-face {
   font-family: Germania One;
   src: url('node_modules/typeface-germania-one/files/germania-one-latin-400.woff') format('woff'),
      url('node_modules/typeface-germania-one/files/germania-one-latin-400.woff2') format('woff2');
}
@font-face {
    font-family: Roboto Mono;
    src: url('node_modules/typeface-roboto-mono/files/roboto-mono-latin-400.woff') format('woff'),
       url('node_modules/typeface-roboto-mono/files/roboto-mono-latin-400.woff2') format('woff2');
 }

.bigText {
   font-family: Germania One, cursive;
   font-size: 45px;
   font-weight: 400;
   line-height: 42px;
   letter-spacing: 0em;
   text-align: center;
}

.smallText {
   font-family: Roboto Mono;
   font-size: 16px;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 0em;
   text-align: center;
}

.welcomeScreen {
   display: inline-flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
}
