* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #373737;
}

#app {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 375px;
   height: 755px;
   margin: 1% auto;
   background: #0f0f0f;
   color: white;
   font-size: 42px;
   position: relative;
}

@font-face {
   font-family: Germania One;
   src: url('assets/typeface-germania-one/files/germania-one-latin-400.woff') format('woff'),
      url('assets/typeface-germania-one/files/germania-one-latin-400.woff2') format('woff2');
}
@font-face {
   font-family: Roboto Mono;
   src: url('assets/typeface-roboto-mono/files/roboto-mono-latin-400.woff') format('woff'),
      url('assets/typeface-roboto-mono/files/roboto-mono-latin-400.woff2') format('woff2');
}



.bigText {
   font-family: Germania One, cursive;
   font-size: 45px;
   font-weight: 400;
   line-height: 42px;
   letter-spacing: 0em;
   text-align: center;
}

.smallText {
   font-family: Roboto Mono;
   font-size: 16px;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 0em;
   text-align: center;
}

.genericScreenStyle {
   display: inline-flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
}

.progressBarStyle {
   position: absolute;
   top: 52px;
}

.characterProfile {
   display: grid;
   align-content: center;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
}

.hpAndAtk {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
}

.allCharacterData {
   display: grid;
   max-height:min-content;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   line-height: normal;
   align-items: end;
}

.arrowButton {
   position: absolute;
   top: 50%;
}

.formStyle {
   top: 145px;
   display: grid;
   justify-items: start;
}

.inputStyle {
   width: 255px;
   height: 50px;
   background: #31251E;
   border: none;
   font-size: 18px;
   color: white;
   text-align: left;
   padding-left: 17px;
}

.inputStyle:placeholder-shown{
   color: #9F9F9F;
}

.errorTextOff {
   visibility: hidden;
   color: red;
}

.errorTextOn {
   visibility:visible;
}

.errorInput{
   border: 1px solid red;
}

